<div class="box">
    Hello
    <uib-tabset active="activeJustified" justifed="true">
        <uib-tab index="0" heading="Assigned Issues">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Project</th>
                        <th>Due Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="assignedIssue in assignedIssues" ng-click="goToIssue(assignedIssue.Id)">
                        <td>{{assignedIssue.Title}}</td>
                        <td>{{assignedIssue.Description}}</td>
                        <td>{{assignedIssue.Project.Name}}</td>
                        <td>{{assignedIssue.DueDate | date: 'mediumDate'}}</td>
                    </tr>
                </tbody>
            </table>
        </uib-tab>
        <uib-tab index="1" heading="Projects I am Assigned"></uib-tab>
        <uib-tab index="2" heading="Projects I am Leader">

        </uib-tab>
    </uib-tabset>
</div>