<div>
    <h3>Issue Title: {{currentIssue.Title}}</h3>
    <p>Description: {{currentIssue.Description}}</p>
    <p>Assignee: {{currentIssue.Assignee.Username}}</p>
    <p>Priority: {{currentIssue.Priority.Name}}</p>
    <p>Due Date: {{currentIssue.DueDate | date : 'mediumDate'}}</p>
    <p>Project Name: {{currentIssue.Project.Name}}</p>
    <p>Status: {{currentIssue.Status.Name}}</p>
    <p>Labels: <span ng-repeat="label in currentIssue.Labels">{{label.Name}}</span></p>
</div>

<div>
    <h4>Comments</h4>
</div>

<!--ng-if="isLead"-->
<button ng-click="openEditIssue()" class="btn btn-default">Edit</button>

<!--  ng-if="isAssignee || isLead"-->
<button class="btn btn-default">Add Comment</button>

<!-- ng-if="isAssignee"-->
<button class="btn btn-default">Change Status</button>


<button ng-click="backToProject()" class="btn btn-default">< Back to Project</button>