<div>
    <h3>Issue Title: {{currentIssue.Title}}</h3>
    <p>Description: {{currentIssue.Description}}</p>
    <p>Assignee: {{currentIssue.Assignee.Username}}</p>
    <p>Priority: {{currentIssue.Priority.Name}}</p>
    <p>Due Date: {{currentIssue.DueDate | date : 'mediumDate'}}</p>
    <p>Project Name: {{currentIssue.Project.Name}}</p>
    <p>Status: {{currentIssue.Status.Name}}</p>
    <p>Labels: <span ng-repeat="label in currentIssue.Labels">{{label.Name}}</span></p>
</div>

<div>
    <h4>Comments</h4>
</div>

<button ng-click="editIssue()" class="btn btn-default" ng-if="isLead">Edit</button>
<button class="btn btn-default" data-toggle="modal" data-target="#commentModal" ng-if="isAssignee || isLead">Add Comment</button>
<button class="btn btn-default" data-toggle="modal" data-target="#statusModal" ng-if="isAssignee">Change Status</button>
<button ng-click="backToProject()" class="btn btn-default">< Back to Project</button>